
body{ 
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 12px; 
  background-color: #FFFFFF;
overflow-x: hidden;
margin: 0;

}
.box{
    box-sizing: border-box; /* 0pera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */ 
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */

 } 


  .conteneur-flex{
      flex-flow: column wrap;
  }
    
  header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
  
  }
 

    p, a {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight:normal;

      }

      h1 { 
        font-weight: 500;
        font-size: 16px; 
        font-weight: bold;

      }

      h2 { 
        font-weight: 500;
        font-size: 14px; 
        font-weight: bolder;

      }

      h3 { 
        font-weight: 500;
        font-size: 12px;
        font-weight: bolder; 

      }
      /* unvisited link */
a:link {
 
  color: rgb(3, 3, 3);
  text-decoration: none;
}

/* visited link */
a:visited {

  color: rgb(72, 77, 72);
}

/* mouse over link */
a:hover {
  
  color: #0065FC;
}

/* selected link */
a:active {
  
  color: rgb(0, 60, 255);
}


 

/* Resize le logo */
.logo img {
    width: 50%;
    height: auto;

}
  .menuitem {

    padding: 0px 20px 10px 20px; 
    

  }
  .menuitem:hover {
    border-top-style: solid;
    color: #0065FC;
    padding: 20px 20px 10px 20px; 
    
  }
/* RECHERCHE */

form.searchbar button {
background: #0065FC;
border-style: none;
color: white;
border-radius: 0px 15px 15px 0px ;
border-style: none;
cursor: pointer;

}

form.searchbar button:hover {
  background: #0065FC;
  color:#F2F2F2;
  border-style: none;
  
}
section{
  padding:1%;
}
.searchbar{
  display: flex;
  max-width: 100%;
  max-height: 60px;
  align-items: center;
 
  
  
}

.location{
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  border-width: 3px;
  border-radius: 10px 0px 0px 10px;
 
padding: 10px;
color: black;

}
.input{
  max-width: 25%;
  color: black;
  border-width: 2px;
  border-color: #F2F2F2;
  justify-content: center;

}

input[type=text] {
  border: none;
  color: black;
  padding: 10px;

  
}
.button{
  color: #ffffff;
  padding-left: 10px;
  border-radius: 0px 2px 2px 0px;
}
button {
justify-content: center;
  background-color: #0065FC;
 
  padding: 10px;

}


.rechercheitem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
  .rititle{
    font-size: 20px;


}



.filtres{
  display: flex;
  gap: 20px;
  margin-top: 20px;
 min-width: 20%;
 max-width: 60%;

}
.buttons{
display: flex;
gap: 10px;
width:100%;
}

.filtreitem{
display: flex;
border-style: solid;
border-width: 2px;
border-radius: 35px 35px 35px 35px;
border-color: #F2F2F2;
min-width: 30%;
height: 100%;
gap: 10px;

}

.icon{
background-color: #DEEBFF;
display: flex;
align-items: center;
min-width: 20%;
height: 100%;
justify-content: center;
border-radius: 60%;
color: #0065FC;

}


.info{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
  
}

.infoitem{
border-radius: 100%;
display: flex;
border-style: double;
border-width: 2px;
border-color: #F2F2F2;
color: #0065FC;
width: 1%;
height: 6%;
justify-content: center;
padding: 2px;
font-size: medium;
}

/* MAIN */
main{
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  
}
  

.gallery {
  border: 3px solid rgb(255, 255, 255);
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height:auto;
  box-shadow: 1px 1px 10px #888888;
  
 
}


.desc {
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-bottom: 10px;
}

.imgcard{
  
  width: 100%;
  max-height: 100px;
   
 
  
}

.imgcard img{
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  image-rendering: optimizeSpeed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.part1{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
 width: 67%;
border-radius: 10px;
gap: 20px;
padding-top: 30px;
padding: 30px;
  
 
} 
.marseille{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap:20px;
  
}
.marseille2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap:20px;
}


.gallerypop {
  
  border: 3px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  max-width:90%;
  height: 90%;
  height:auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  gap: 20px;
  box-shadow: 1px 1px 10px #888888;
}

  .descprice{
    display: flex;

  }
.desctitle{

  display: flex;

}
.descpop {

  display: flex;
  flex-direction: column;
  max-height: 50%;
justify-items: center;



}
.starspop{

  flex-direction: row;
  display: flex;
  color: #0065FC;
  
}

#gs1, #gs2, #gs3, #gs4, #gs5, #gs6, #gs7 {
  color: #F2F2F2;
}

.imgcardpop{
  width: 40%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
  
}

.imgcardpop img{
  min-width: 100%;
  height:110px;
 
  object-fit: cover;
  image-rendering: optimizeSpeed;
  flex-direction: column;
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 
  
}

.plus{
  display: flex;
  flex-direction: column;
margin-left: 10px;
}


.populaires{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #F2F2F2;
  width: 33%;
  gap: 20px;
padding-top: 30px;
padding-left: 30px;
margin-left: 30px;

  
} 
.actmar{
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;

  height: 100%;
  padding: 20px;

}
.title{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;


}

.part3{

 

 border-radius: 10px 10px 10px 10px;
 
 width: 50%;

}

.card1{

box-shadow: 1px 1px 10px #888888;
border-radius: 10px 10px 10px 10px;
height: 100%;
width: 100%;

}


.image img{

  object-fit: cover;
  image-rendering: optimizeSpeed;
  height: 360px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  
}

.image{
width: 100%;
height: 360px;

 

}
.verticalcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;


}
.card2, .card3{
  width: 80%;
 box-shadow: 1px 1px 10px #888888;
 border-radius: 10px 10px 10px 10px;
 margin-bottom:20px;

}


.image2{
  height: 190px;
  width: 100%;
border-radius: 10px 10px 0px 0px;
  
}

.image2 img{
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
object-fit: cover;
image-rendering: optimizeSpeed;

}

.image3{
  height: 190px;
width: 100%;
  border-radius: 10px 10px 0px 0px;
  
}

.image3 img{
  height: 150px;
  border-radius: 10px 10px 0px 0px;
width: 100%;
object-fit: cover;
image-rendering: optimizeSpeed;

}

.title2{


padding-left: 10px;

  
}

/* Footer */

footer{
  display: flex;
  background: #F2F2F2;
  justify-content: space-between ;
  align-items: center;
  
}

ul {
  list-style-type: none;
  line-height: 25px;
  padding-left: 20px;
}

.apropos{
width: 35%;

}
.hebergements{
  width: 35%;
}
.assistance{
  width: 35%;
}


@media only screen and (max-width: 768px) {
  body{ 
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 8px; 
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  .box{
    box-sizing: border-box; /* 0pera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */ 
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */


} 


  .conteneur-flex{
      flex-flow: nowrap;
     
  }
      
    header{
      display: flex;
   flex-wrap: wrap;
      justify-content: center;
width: 100%;
gap:20px;
    }
   
  
      p, a {
          font-family: 'Raleway', sans-serif;
          font-size: 12px;
          font-weight:normal;
  
        }
  
        h1 { 
      
          font-size: 18px; 
          font-weight: bolder;
  
        }
  
        h2 { 
          font-weight: 500;
          font-size: 12px; 
          font-weight: bolder;
  
        }
  
        h3 { 
          font-weight: 500;
          font-size: 12px;
          font-weight: bold; 
  
        }
 

  
  
   
  
  /* Resize le logo */
  .logo img {
      width: 100%;
      align-items: center;
  
  }
  .logo{
  
  width: 30%;


  
  }

  
    .menuitem {
 
      padding: 0px 50px 10px 50px; 
      border-bottom-style: solid;
      width: 100%;
      
  
    }
    .menuitem:hover {
      
      border-bottom-style: solid;
      color: #0065FC;
      padding: 0px 50px 10px 50px; 
      border-top-style:none ;

      
    }


 
  /* RECHERCHE */
  
  form.searchbar button {
  background: #0065FC;
  border-style: none;
  color: white;
  border-radius: 0px 15px 15px 0px ;
  border-style: none;
  cursor: pointer;
  
  }
  
  form.searchbar button:hover {
    background: #0065FC;
    color:#F2F2F2;
    border-style: none;

    
  }
  
  .searchbar{
    display: flex;
    width: 100%;
 
  
   
    
    
  }
  
  .location{
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-width: 3px;
    border-radius: 10px 0px 0px 10px;
   font-size: medium;
  padding: 10px;
  color: black;
  min-width: 5%;

  
  }
  .input{
   
    color: black;
    border-width: 2px;
    border-color: #F2F2F2;
    justify-content: center;
    min-width: 70%;
  }
  
  input[type=text] {
    border: none;
    color: black;
    padding: 10px;
    min-width: 70%;
    
  }
button{
  display: none;
  }
  .button {
font-size: medium;
color: #FFFFFF;
  justify-content: center;

    background-color: #0065FC;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 5%;
  }
  
  
  .rechercheitem {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: auto;
  
  }
  
 
  
  .filtres{
    display: flex;
  flex-wrap: wrap;
  min-width: 100%;
   margin: 0%;

   
  
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
  

  }
 
  .filtreitem{
   
    border-style: solid;
    border-width: 2px;
    border-radius: 35px 35px 35px 35px;
    border-color: #F2F2F2;
 height: auto;
 width: 47%;
  
  }
  
  .icon{
  background-color: #DEEBFF;
  border-radius: 60%;
  color: #0065FC;
  font-size: medium;
width: 25%;


  
  }
  
  .itemtitle{
    width: 80%;
    min-height: 100%;
  }

  .info{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
    
  }
  
  .infoitem{
  border-radius: 100%;
  display: flex;
  border-style: double;
  border-width: 2px;
  border-color: #F2F2F2;
  color: #0065FC;
  width: 1%;
  height: 6%;
  justify-content: center;
  padding: 2px;
  }
  
  /* MAIN */
  main{
    display: flex;
    flex-direction: column-reverse;
    padding-left: none;
    margin-left: none;
    padding: none;
    width: auto;
    margin: 0%;
    
  }
    
  
  .gallery {
    border: 3px solid rgb(255, 255, 255);
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: 1px 1px 10px #888888;
    justify-content: center;
   
  }
  
  
  .desc {
    flex-direction: column;
    justify-content: space-around;
  
  }
  
  .imgcard{
    
    width: auto;
  
   
    
  }
  
  .imgcard img{
    
    
    object-fit: cover;
    image-rendering: optimizeSpeed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  .titlepart1{
    margin-left: 0%;
  }
  .part1{
  background-color: #FFFFFF;
  padding: none;
  width: auto;
   
  } 
  .marseille{
    display: flex;
    flex-direction: column;
    padding-left: none;
    width: auto;
   

    
  }
  .marseille2{
    display: flex;
    flex-direction: column;
    width: auto;
  
  }
  
  
  .gallerypop {
    
    border: 3px solid rgb(255, 255, 255);
    display: flex;
flex-direction: row;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #888888;
    width: auto;
  }
  
    .descprice{
      display: flex;
      
  
    }
  .desctitle{
  
    display: flex;
    
  }
  .descpop {
  
    display: flex;

    
  justify-items: center;
  
  
  
  }
  .starspop{
  
    flex-direction: row;
    display: flex;
    color: #0065FC;
    
  }
  
  #greystar{
    color: #F2F2F2;
  }
  
  .imgcardpop{
    
    display: flex;
    flex-direction: row;
  
    
  }
  
  .imgcardpop img{
  
    object-fit: cover;
    image-rendering: optimizeSpeed;
    flex-direction: row;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    
  }
  
  .plus{
    display: flex;
margin-left: 0%;
  
  }
  
  
  .populaires{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    background-color: #F2F2F2;
    width: auto;
 margin-left: 0%;
padding-bottom: 20%;

  
    
  } 

  .actmar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
  
  }
  .title{
    display: flex;
    flex-direction: column;
  
    padding: 20px;
  
  
  }
  
  .part3{
  display: none;
  
  }
  
  
  
  
  .image img{
    width: 100%;
    max-height: 100%;
    
    
    
  }
  
  .image{
  
    width: 100%;
    height: 160px;
    
   
  
  }
  .verticalcard{
    gap:20px
 
  
  
  }
  .card2{
   
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    
  }
.card3{
   
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    
  }
  
  
  
 
  
  .title2{
  
  
  padding-left: 10px;
  
    
  }



  
  /* Footer */
  
  footer{
    display: flex;
    background: #F2F2F2;
flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    padding:5%;
  }
  
  ul {
    list-style-type: none;
    line-height: 25px;
    padding-left: 20px;
  }
  
  .apropos{
width: 100%;
  
  }
  .hebergements{
 width: 100%;
  }
  .assistance{
width: 100%;
  }
  
}